html,
body {
    height: 100%;
    width: 100%;
    display: inline-block;
    background-color: black;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    font-family: 'Cinzel', serif;
}

canvas {
    width: 100%;
    border-radius: 20px;

}



h1 {
    margin: 0px;
}


#topDiv {
    display: inline-block;
    position: relative;
}



#overlappingDiv {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    border-radius: 20px;
}


#playerSelection {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding: 0px;
    background-color: rgb(174, 172, 172);
    display: none;
    border-radius: 20px;

}

#mainTitle {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 40px;
}

#prologueText {
    text-align: center;
}

#choosePlayer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}


label {
    text-align: center;
}

.select {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin: 20px;
    height: 150px;
    justify-content: space-around;
}

.choose {
    position: absolute;
    left: 0px;
    top: -7px;
    height: 130px;
    width: 84px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.image-character-one {
    width: 77px;
    height: 75px;
    object-fit: none;
    transform: scale(1.5);
}

.image-character-two {
    width: 77px;
    height: 75px;
    object-fit: none;
    transform: scale(1.5);
}










/*           FIGHT SCENE TEMPLATE              */
#userInterface {
    display: none;

}


.summonInfo {
    height: 10px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.currentLevel {
    margin: 0px;
    font-size: 12px;
}


#interfaceSelection {
    display: flex;
    flex-direction: row-reverse;
    background-color: none;
    width: 800px;
    height: 80px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border: 2px black;
    border-radius: 20px;
    border-style: outset;
}

.whatAttack {
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    /* border-radius: 20px; */
}

.whatAttack:hover {
    background-color: lightblue;
}



#attacksBox>button:nth-child(odd) {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

#attacksBox>button:nth-child(even) {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#attacksBox {
    width: 66.66%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#attackInfo {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    text-align: center;
}

#attackType {
    font-size: 20px;
}




#statusInfoBad {
    background-color: white;
    width: 160px;
    height: 20px;
    position: absolute;
    bottom: 300px;
    left: 100px;
    border: 2px black;
    border-style: outset;
    padding: 2px;
    border-radius: 5px;
    opacity: 0.5;
}


#statusInfoGood {
    background-color: white;
    width: 160px;
    height: 27px;
    position: absolute;
    bottom: 300px;
    right: 120px;
    border: 2px black;
    border-style: outset;
    padding: 2px;
    border-radius: 5px;
    opacity: 0.5;


}


.name {
    font-size: 10px;
    margin-left: 5px;
}

.health {
    position: relative;
    width: 96%;
    margin-left: 2%;
}

#statusInfoGood .health-damage {
    border-radius: 20px;
    height: 5px;
    background-color: #ccc;
    margin-top: 3px;
}


#statusInfoBad .health-damage {
    border-radius: 20px;
    height: 5px;
    background-color: #ccc;
    margin-top: 2px;
}

.health-full {
    border-radius: 20px;
    height: 5px;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}




.level {
    position: relative;
    width: 96%;
    margin-left: 2%;
    margin-top: 1px;
}




.default-lv {
    border-radius: 20px;
    height: 5px;
    background-color: #ccc;

}


.lv-increase {
    border-radius: 20px;
    height: 5px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
}


#dialgueBox {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    border-radius: 20px;
    opacity: 0.5;
    display: none;
    cursor: pointer;
    padding-left: 10px;
    padding: 25px;
    font-size: 20px;
}




@media (min-width: 350px) and (max-width: 599px) {

    #mainTitle {
        text-align: center;
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 14px;
    }

    #prologueText p {
        font-size: 8px;
    }


    #choosePlayer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%;
        margin-top: 30px;
    }


    #interfaceSelection {
        display: flex;
        flex-direction: row-reverse;
        background-color: none;
        width: 300px;
        height: 40px;
        position: absolute;
        bottom: 20px;
        right: 10px;
        border: 2px black;
        border-radius: 20px;
        border-style: outset;
    }




    #statusInfoGood {
        background-color: white;
        width: 100px;
        height: 14px;
        position: absolute;
        bottom: 120px;
        right: 20px;
        border: 2px black;
        border-style: outset;
        padding: 2px;
        border-radius: 5px;
        opacity: 0.5;
    }


    #statusInfoBad {
        background-color: white;
        width: 100px;
        height: 10px;
        position: absolute;
        bottom: 120px;
        left: 10px;
        border: 2px black;
        border-style: outset;
        padding: 2px;
        border-radius: 5px;
        opacity: 0.5;
    }


    .summonInfo {
        height: 6px;
        width: 88px;
        display: flex;
        justify-content: space-between;
    }

    .name {
        font-size: 5px;
        margin-left: 5px;
    }

    .currentLevel {
        margin: 0px;
        font-size: 7px;
    }

    #statusInfoGood .health-damage {
        border-radius: 20px;
        height: 2px;
        background-color: #ccc;
        margin-top: 2px;
    }

    #statusInfoBad .health-damage {
        border-radius: 20px;
        height: 2px;
        background-color: #ccc;
        margin-top: 2px;
    }

    .health-full {
        border-radius: 20px;
        height: 2px;
        background-color: green;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }


    .level {
        position: relative;
        width: 96%;
        margin-left: 2%;
        margin-top: 1px;
    }




    .default-lv {
        border-radius: 20px;
        height: 2px;
        background-color: #ccc;

    }


    .lv-increase {
        border-radius: 20px;
        height: 2px;
        background-color: blue;
        position: absolute;
        top: 0;
        left: 0;
    }


    .whatAttack {
        border: 0;
        background-color: transparent;
        cursor: pointer;
        font-size: 7px;
        /* border-radius: 20px; */
    }


    #attacksBox>button:nth-child(odd) {
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    #attacksBox>button:nth-child(even) {
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }


    #attackType {
        font-size: 8px;
    }

    #dialgueBox {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        border-radius: 20px;
        opacity: 0.5;
        display: none;
        cursor: pointer;
        padding-left: 10px;
        padding: 13px;
        font-size: 10px;
    }
}


@media (min-width: 600px) and (max-width: 790px) {
    #interfaceSelection {
        display: flex;
        flex-direction: row-reverse;
        background-color: none;
        width: 620px;
        height: 98px;
        position: absolute;
        bottom: 20px;
        right: 10px;
        border: 2px black;
        border-radius: 20px;
        border-style: outset;
    }


    #statusInfoBad {
        background-color: white;
        width: 180px;
        height: 23px;
        position: absolute;
        bottom: 215px;
        left: 60px;
        border: 2px black;
        border-style: outset;
        padding: 2px;
        border-radius: 5px;
        opacity: 0.5;
    }

    .summonInfo {
        height: 14px;
        width: 160px;
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }

    #statusInfoGood {
        background-color: white;
        width: 180px;
        height: 30px;
        position: absolute;
        bottom: 215px;
        right: 90px;
        border: 2px black;
        border-style: outset;
        padding: 2px;
        border-radius: 5px;
        opacity: 0.5;
    }

}

@media (min-width: 800px) and (max-width: 1100px) {


    canvas {
        width: 780px;
        height: 365px;
    }



    #interfaceSelection {
        display: flex;
        flex-direction: row-reverse;
        background-color: none;
        width: 620px;
        height: 98px;
        position: absolute;
        bottom: 20px;
        right: 10px;
        border: 2px black;
        border-radius: 20px;
        border-style: outset;
    }

    .select {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        margin: 20px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-left: 20px;
        height: 100px;
        justify-content: space-around;
    }

    #choosePlayer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30%;
    }

    .image-character-one {
        width: 77px;
        height: 75px;
        object-fit: none;
        transform: scale(1);
    }

    .image-character-two{
        width: 77px;
        height: 75px;
        object-fit: none;
        transform: scale(1);
    }

    #statusInfoGood {

        background-color: white;
        width: 180px;
        height: 23px;
        position: absolute;
        bottom: 190px;
        right: 60px;
        border: 2px black;
        border-style: outset;
        padding: 2px;
        border-radius: 5px;
        opacity: 0.5;

    }

    #statusInfoBad {
        background-color: white;
        width: 180px;
        height: 23px;
        position: absolute;
        bottom: 190px;
        left: 60px;
        border: 2px black;
        border-style: outset;
        padding: 2px;
        border-radius: 5px;
        opacity: 0.5;
    }

    #interfaceSelection {
        display: flex;
        flex-direction: row-reverse;
        background-color: none;
        width: 620px;
        height: 60px;
        position: absolute;
        bottom: 20px;
        right: 10px;
        border: 2px black;
        border-radius: 20px;
        border-style: outset;
    }

    #attackType {
        font-size: 12px;
    }

    .health-full {
        border-radius: 20px;
        height: 3px;
        background-color: green;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    #statusInfoGood .health-damage {
        border-radius: 20px;
        height: 3px;
        background-color: #ccc;
        margin-top: 3px;
    }

    #statusInfoBad .health-damage {
        border-radius: 20px;
        height: 3px;
        background-color: #ccc;
        margin-top: 3px;
    }

    .summonInfo {
        height: 10px;
        width: 165px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px;
    }

    .default-lv {
        border-radius: 20px;
        height: 3px;
        background-color: #ccc;
    }

    .lv-increase {
        border-radius: 20px;
        height: 3px;
        background-color: blue;
        position: absolute;
        top: 0;
        left: 0;
    }

    #dialgueBox {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
        border-radius: 20px;
        opacity: 0.5;
        display: none;
        cursor: pointer;
        padding-left: 10px;
        padding: 19px;
        font-size: 13px;
    }
}